.mi-menubar{
	display:block;
	background:#5687a8;
	position:relative
}

.mi-menuitem{
	overflow:hidden;
	border:0;
	margin:0;
	padding:0;
	background:transparent none repeat 0 0;
	position:relative;
	list-style-image:none;
	list-style-position:outside;
	list-style-type:none
	font-family:"Open Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
	font-size:16px;
	font-weight:400;
	font-style:normal;
	color:#fff;
	display:block;
	min-height:35px;
	border:1px solid transparent;
	padding:11px 7px;
	line-height:24px;
	position:relative;
	cursor:pointer;
	text-decoration:none;
	white-space:nowrap;
	z-index:20
}

.mi-menuitem:active{
	color:#5687a8;
	background:#fff
}

.mi-menuitem:hover{
	color:#5687a8;
	background:#fff
}

.centrado-porcentual {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
}

.texto-formulario {
	font-family: sans-serif, Arial;
	font-weight: bold;
}
.banner-head{
	font-size: 2.4em;
}
.banner .logout{
	text-decoration: underline;
	cursor: pointer;
} 

.botonera {
	padding-top: 5px;
	border-style: solid;
	border-width: 2px;
	border-color: #D9D9D9;
}

.footer a,.footer a:VISITED {
	color: white;	
}

.sidebar a,.sidebar a:VISITED {
	color: black;
	text-decoration: none;
}

.sidebar-fn{
	cursor: pointer;
}


.head1{
	font-size: large;
}
.head2{
	font-size: medium;
}

.row-title .z-label{
	font-weight: bold;
	color:#636363;
}

.fn-caption .z-caption-l{
	font-weight: bold;
	font-size: medium;
	color: #636363;
}

.complete-todo .z-label{
	text-decoration: line-through;
}

.warn{
	color:red;
}

.demo-main a,.demo-main a:VISITED{
	color:#636363;
	text-decoration: underline;
	font-size: smaller;	
}

.todo-box {
	padding-right:4px;
}