.form-label {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 14px;
	color: #555555;
	font-weight: bold;
	display:inline-block;
	max-width: 100%;
	margin-bottom: 5px;
		
}

.fgrid tr.z-row td.z-row-inner, tr.z-row, div.z-grid-body
        div.z-cell, div.z-grid,.fgrid tr.z-row td.z-row-inner div.z-row-content {
	border: none;
	overflow: hidden;
	zoom: 1;
	background: white;
	border-top: none;
	border-left: none;
	border-right: none;
	border-bottom: none;
	color: inherit;
}


.fgrid .z-grid-odd .fgrid .z-row-inner, .fgrid .z-grid-odd
        .z-cell {
	background-color: white;
	border-bottom: 1px solid transparent;
	border-left: 1px solid transparent;
	border-top: 1px solid transparent;
}


.fgrid .z-grid-odd .fgrid.z-row-inner, .fgrid.z-grid-odd
        .z-cell, .fgrid.z-grid-odd {
	background: none repeat scroll 0 0 transparent;
}

.fgrid tr.z-grid-odd td.z-row-inner, .fgrid tr.z-grid-odd
        .z-cell, .fgrid tr.z-grid-odd {
	background: white
}

.fgrid tr.z-row td.z-row-inner, .fgrid tr.z-row .z-cell {
	background: white;
	border-top: none;
}


.z-grid-odd > .z-row-inner, .z-grid-odd > .z-cell {
    background: #d9edf7 none repeat scroll 0% 0%;
}

.z-column-content{
	font-family: Times New Roman,sans-serif, Arial;
	font-size: 14px;	
}

.z-row-content{
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	color:#262626;
}

.z-row:hover > .z-row-inner > .z-row-content	
{
	position:static;
	background:#00aaff;
	color: #ffffff;
}



/*No funciona el estilo de clase ".form-control" de Bootstrap para controles 
como <combobox> <datebox> etc., se establece las reglas de estilos para estos elementos */
.z-combobox, .z-bandbox, .z-datebox, .z-timebox, .z-spinner,
	.z-doublespinner {
	display: block;
	height: 38px;
	white-space: nowrap;
}

.z-combobox-input, .z-bandbox-input, .z-datebox-input, .z-timebox-input,
	.z-spinner-input, .z-doublespinner-input {
	padding:8px 12px;
	font-size:14px;
	line-height: 1.42857143;
	color:#555555;
	height:38px;
	background-color: #ffffff;
	background-image: none;
	border:1px solid #cccccc;
	-webkit-border-radius:4px;
	-moz-border-radius:4px;
	-o-border-radius:4px;
	-ms-border-radius:4px;
	border-radius:4px;
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
	transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
	font-family:"Helvetica Neue", Helvetica, Arial, sans-serif;
	font-weight:normal;
	font-style:normal;
	margin: 0;
}

.z-combobox-input:focus, .z-bandbox-input:focus, .z-datebox-input:focus,
	.z-timebox-input:focus, .z-spinner-input:focus, .z-doublespinner-input:focus
	{
	border-color: #66afe9;
	outline: 0;
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px
		rgba(102, 175, 233, 0.6);
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px
		rgba(102, 175, 233, 0.6);
}

.z-combobox-button, .z-bandbox-button, .z-datebox-button,
	.z-timebox-button, .z-spinner-button, .z-doublespinner-button {
	font-size: 14px;
	color: #636363;
	display: inline-block;
	min-width: 27px;
	height: 38px;
	min-height: 38px;
}

.z-combobox-disabled, .z-bandbox-disabled, .z-datebox-disabled,
	.z-timebox-disabled, .z-spinner-disabled, .z-doublespinner-disabled {
	background-color: #eeeeee !important;
	cursor: not-allowed !important;
	color: #000000 !important;
	opacity: 1;
	filter: alpha(opacity=100);
}
